<div class="page">
   <h1>About</h1>

   <div class="ruler"></div>

   <p>
      We are all unique. They don't define us, <strong>we define ourself</strong>.
   </p>



   <p>
      We don't choose our own name as we are born, it is chosen for us and forms our identity growing up.
   </p>

   <p>
      As an adult, you should be free to identity how you want, in every possible way, without restrictions.
   </p>

   <p>
      The City Chain Identity is a registry of identities, where <strong>you own your identities</strong> and you are in control.
   </p>

   <p>This is a <strong>permissionless identity registry</strong>, that means you don't need to ask anyone for permission to add your
      identities.</p>

   <p>Only you and nobody else, can change your identities.</p>

   <p>Who says you can only have a single identity? Break free of your existing limitations and express yourself.</p>

   <p>You can have different identities for different uses, there are no limits.</p>

   <p>We see <strong>no borders</strong>, we see <strong>no nations</strong>. We are all humans, and we all exists. We must all be free.</p>

   <p>
      <img class="img-full" src="assets/about.jpg">
   </p>

   <p>
      This service is made available to be an alternative to centralized and national registries of identities. It is
      <strong>borderless and permissionless</strong>.
   </p>

   <p>Identities in this registry <strong>does not result in any legal status</strong> in the identities country of
      residence. It is your responsibility to follow local and regional laws and regulations.</p>

   <p>This site is provided by the <strong>City Chain Labs CC</strong>, a crypto company established to develop and
      promote blockchain
      technologies.</p>



   <div>
      <span class="large-icon mu mu-web"></span>
      <span class="large-icon mu mu-heart"></span>
   </div>

</div>